{% load static %}


<!DOCTYPE html>
<html lang="en-US">
  <head>
 
    <meta charset="utf-8">
    <title>Estadisticas 2012</title>
    <link rel="shortcut icon" href= "{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/cuestionario.css' %}">
    <!--<script src="{% static 'funciones.js' %}"></script>   -->
      </head>
  <body>
    {% load buscarcuentas %}
    <div >
      <h1 class="cabecera1">
        <hr>
        <b>Consulta Numeros de Cuenta Encuestados</b>
        <hr>
      </h1>      
    </div>
    <br>
    <br>
    <div class="conteos">
        <button  class="button">
            <a> Encuesta 2012</a>
             </button> 
        <button  class="button">
                <a> Encuesta 2019</a>
                 </button>
                </div>
                 <br>
                 <br>
                 <div>
                <br>
                <br>
            

                <form action="" method='POST'>
                  {% csrf_token %}
                  {{form.as_p}}
                 
                  <div class="derecha">
                    <button type="submit" class="button" value=""> Buscar</button>
                  </div>
                  
                  <div class="resultado">
                    {% if info == 'nan'%}
                    <p>No se encontró ningun numero de Cuenta unu</p>
                    {% else %}
                   <br>
                   <hr>
                    <h1> {{info}}</h1>
                    <hr>
                  <br>
                    {% endif %}
                    
                  </div>
              </form>
                
</div>

  </body>
</html>
