{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Estadisticas 2012</title>
    
    <link rel="shortcut icon" href= "{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/cuestionario.css' %}">
    <!--<script src="{% static 'funciones.js' %}"></script>   -->
      </head>
  <body>
    <div >
      <h1 class="cabecera1">
        <hr>
        <b>Consulta Numeros de Cuenta Encuestados</b>
        <hr>
      </h1>      
    </div>
    <br>
    <br>
    <div class="centrado">
        <button  class="button">
            <a> Encuesta 2012</a>
             </button> 
        <button  class="button">
                <a> Encuesta 2019</a>
                 </button>
                 <br>
                 <br>
                 <br>
                 <div class=tetsto>
                    <input type="text" class="outlinenone" placeholder="Ingresa un numero de cuenta" size=30>
                </div>
                </div>
</div>
  </body>
</html>
