{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Estadisticas</title>
    
    <link rel="shortcut icon" href= "{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/cuestionario.css' %}">
    <!--<script src="{% static 'funciones.js' %}"></script>   -->
      </head>
  <body>
    <div >
      <h1 class="cabecera1">
        <hr>
        <b>Encuestas Realizadas</b>
        <hr>
      </h1>
      
    </div>
<div class="conteos">
  <h3 class="cabecera2">Conteo por Encuestadores</h3>
  {{porEncuestador|safe}}
</div>
<br>
<div class="conteos">
  <h3 class="cabecera2">Conteo por Meses</h3>
  {{porMes|safe}}
</div>
<br>
<div class="conteos">
  
  <h3 class="cabecera2">Conteo por Carreras</h3>
  {{porCarrera|safe}}
</div>

  </body>
</html>
