{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Nueva Encuesta (Prueba)</title>
    
    <link rel="shortcut icon" href= "{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      </head>
  <body>
    <H1>Diseño en proceso</H1>
    <p>Lista de encuestas</p>
    <br><br>
    <button  class="button" onclick="location.href='{% url 'encuesta01' %}'">
      <a> Encuesta exalumnos</a>
       </button>
       <br><br>
    <button  class="button" onclick="location.href='{% url 'estado' %}'">
      <a >Estado del estudio</a>
        </button> 

    <!--{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
  </body>
</html>
